__pycache__/
.venv/
*.pyc
.DS_Store
.ipynb_checkpoints/
encoders/
*.joblib
data/legacy/*
app/models/*
bank_data.db
data/ato.csv
data/processed/*
stratified_eda_sample.csv
ato_eda_sample.csv
kmed_labeled_data.csv